* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0; /* Remova a margem padrão do corpo */
  overflow: hidden; /* Remova a barra de rolagem do corpo */
}

.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Preenche toda a largura do corpo */
  height: 100%; /* Preenche toda a altura do corpo */
  background: linear-gradient(45deg, #726368, #383838);
  background-size: 800%;
  animation: animar 5s infinite;
  border-radius: 15px;
  z-index: -1; /* Coloque o fundo atrás de todo o conteúdo */
}

@keyframes animar {
  0%, 100% {
      background-position: 0%, 50%;
  }
  50% {
      background-position: 100%, 50%;
  }
}

/* Restante do seu CSS */


.header{

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navigation{
    display: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 15px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.navigation a{
    content: "";
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 50px;
    width: 100%;
    height: 3px;
    text-decoration: none;
    padding: 100px;
}

.navigation .btnLogin-popup{
    width: 120px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 300px;
}

.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 400px;
    top: 30vh;
    left: 35vw;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    display: flex;
    align-items: relative;
    justify-content: center;
    overflow: hidden;
  }
  
  .wrapper .form-box{
       width: 100%;
  }
  
  .wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom-left-radius:20px;
    z-index: 1;
  }
  
  .form-box-login h2{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    justify-content: center;
  }

  .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
  }


/* tirar o autocomplete background */
  .input-box input:-webkit-autofill {
    -webkit-background-clip: text;
}


/* trocar a cor da letra do autocomplete para branco */
.input-box input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}

  .input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-10%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label{
    color: #946b6b;
    top: -1px;
  }
  
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }
  
  .input-box .icon{
    position: absolute;
    right: 5px;
    font-size: 1.2em;
    color: #ffffff;
    line-height: 60px;
  }
  
  .lembre-depois{
    font-size: .9em;
    color: #ffffff;
    font-weight: 500;
    margin: 30px 0 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .lembre-depois label input{
    accent-color: #ffffff;
    margin-right: 3px;
  }
  
  .lembre-depois a{
    color: #fafafa;
    text-decoration: none;
  }
  
  .lembre-depois a:hover{
    text-decoration: underline;
  }
  
  .esqueceu{
    margin-top: 1px;
    margin-left: 15px;
  }

  .btn{
    width: 100%;
    height: 45px;
    background: #6b63fff1;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
  }
  
  .btn a{
    text-decoration: none;
  }
  
  .btn a:hover{
    color: red;
  }

  .btn:hover{
    background-color: #162938;
  }
  
  .registrar-login{
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }
  
  .registrar-login p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
  }
  
  .registrar-login p a:hover{
    text-decoration: underline;
    color: red;
  }

  @media screen and (max-width:900px){
    .wrapper{
      position: absolute;
      top: 30%;
      left: 5%;
    }
  }