* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Corrigido para 100vh */
  width: 100%;
}

.logo{
  position: fixed;
  top: 0px;
  left: 10px;
  font-size: 45px;
}

.header {
  align-items: center;
  justify-content: right;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  height: 8vh;
  width: 100%;
  padding: 20px 20px; /* Ajuste o padding horizontal conforme necessário */
  z-index: 1;
  backdrop-filter: blur(10px);
}

.main {
  height: 100vh; /* Corrigido para 100vh */
}

.img-background {
  opacity: 0.2;
}

img {
  width: 100%;
  height: auto; /* Corrigido para 'auto' para manter proporções */
}

.navigation {
  display: flex;
}

.navigation a {
  position: relative; /* Adiciona posição relativa para que o ::after seja posicionado em relação a este elemento */
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  margin-top: 20px;
  margin-left: 40px;
  padding: 5px 30px;
}

@media screen and (max-width: 900px) {
  .navigation a {
    margin-top: 50px;
    padding: 0 5px; /* Ajuste o padding horizontal para a tela menor que 900 pixels */
    margin-left: 10px
  }
}

.navigation a::after {
  content: "";
  position: absolute;
  width: 100%; /* Largura inicial maior */
  height: 3px;
  background: black;
  border-radius: 5px;
  left: 0;
  bottom: -5px; /* Ajuste a distância do sublinhado em relação ao texto */
  transform-origin: right;
  transform: scaleX(0); /* Comece com o sublinhado oculto */
  transition: transform .5s; /* Apenas a transição de transformação é necessária */
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1); /* Ajuste diretamente para mostrar o sublinhado */
}

.first {
  position: absolute;
  top: 0;
  left: 15px;
  padding: 10px;
  margin-top: 70px;
  width: 100%;
  height: 100%;
  max-width: 50vw;
  max-height: 15vh;
  margin-left: 10px;
}

/* Estilos para ocultar o h1 quando a classe 'hide' está presente */
.hide {
  display: none;
}

.input-box {
  position: absolute;
  left: 0;
  top: 25%;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 900px) {
  .input-box{
    top: 210px;
    left: -20px;
  }
}

.input-box ul {
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 25px;
}

.input-box ul li {
  display: inline;
}

.input-box ul li p {
  text-decoration: none;
  list-style: none;
  text-align: border-box;
  color: #fff;
  white-space: nowrap;
  padding: 20px;
  font-weight: 200;
}

/* Estilos para o botão hamburguer */
.hamburger-btn {
  display: none; /* Ocultar o botão por padrão */
  cursor: pointer;
  width: 20px;
  height: 30px;
  margin-left: 5px;  
}

/* Estilos para os itens do menu */
.menu-items {
  position: absolute;
  top: 50px; /* Defina a distância do topo conforme necessário */
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para os itens do menu quando o menu estiver oculto */
.menu-items.hide {
  display: none;
}

@media screen and (max-width: 900px) {
  /* Mostrar o botão hamburguer quando a tela for menor que 800px */
  .hamburger-btn {
    display: block;
    position: fixed;
    top: 180px;
    left: 0px;
  }

  /* Esconder os itens do menu quando a tela for menor que 800px */
  .menu-items {
    display: none;
  }

  /* Estilos para os itens do menu quando o menu estiver visível */
  .menu-items.show {
    display: block;
  }
}

.icon {
  color: #000000;
  margin-right: 10px;
}

.container {
  position: absolute;

  /* mover a imagem top e right */
  top: 80%;
  right: 10%;
  transform: translateY(-50%);
  width: 400px; /* ou qualquer largura desejada */
  height: 400px; /* ou qualquer altura desejada */
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para manter a proporção e preencher o contêiner */
}

/* Oculta a imagem em telas menores que 768px */
@media screen and (max-width: 900px) {
  .container {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .seta {
      display: none;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  margin-top: 52vh;
  width: 75px;
}

.ponto1 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  margin-top: 40vh;
  width: 75px;
}

.ponto2 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  margin-top: 47vh;
  width: 75px;
}

.input-box-center {
  display: flex;
  position: absolute;
  flex: 1 0 200px;
  align-items: center;
  justify-content: center;
  top: 1020px;
  left: 650px;
  height: 27vh;
  width: 30vw;
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.25);
  list-style: none;
}

@media screen and (max-width: 900px) {
  .input-box-center {
    align-items: flex-start;
    justify-content: flex-start;
    height: auto; /* altura automática para ajustar ao conteúdo */
    width: 100%; /* ocupar toda a largura disponível */
    top: 70vh; /* reposicionar verticalmente conforme necessário */
    left: auto; /* reposicionar horizontalmente conforme necessário */
    padding: 10px; /* opcional: adicionar espaço interno */
    box-sizing: border-box; /* incluir preenchimento no cálculo da largura */
    overflow: hidden;
  }
}

.input-box-center ul li {
  list-style: none;
}

.input-box-center ul li p {
  white-space: nowrap;
  font-size: 1.2em;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  word-spacing: 1px;
}

.input-box-center ul li {
  list-style: none;
}

.input-box-center ul li p {
  white-space: nowrap;
  font-size: 1.2em;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
}

.input-box-center ul li a:hover {
  color: red;
}
